# Sources
*.c                 text diff=cpp
*.java              text diff=java

# Configuration
*.txt               text
.gitattributes      text
.gitignore          text

# Documentation
*.md                text diff=markdown